@page "/task/list"
@inject ITaskItemServiceClient TaskItemService
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IProjectService ProjectService
@inject ISnackbar _snackBar

<div class="mx-4">
    <MudExpansionPanels Elevation="4">

        <MudExpansionPanel MaxHeight="200">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Filled.BookmarkAdd" class="mr-3"></MudIcon>
                    <MudText><strong>New Task</strong></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudPaper Elevation="0" Class="pa-1 rounded-lg">
                    <MudForm @ref="form">
                        <div class="d-flex align-center justify-space-between mx-auto">
                            <div>
                                <MudTextField class="mr-5 mb-1" Margin="Margin.Dense" T="string" Label="Title" Variant="Variant.Outlined" @bind-Value="@newTask.Title"></MudTextField>
                                <MudDatePicker class="mr-5" Label="Due Date" Variant="Variant.Outlined" @bind-Date="@newTask.DueDate" />
                            </div>
                            <MudTextField class="mr-5" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="5" @bind-Value="@newTask.Description"></MudTextField>
                            <div>
                                @if (loggedUserRole == "Admin")
                                {
                                    <MudSelect class="mr-5 mb-3" Margin="Margin.Dense" Label="Assign To" Variant="Variant.Outlined" @bind-Value="@newTask.AssignedToId">
                                        <MudSelectItem Value="@(13)" />
                                        <MudSelectItem Value="@(14)" />
                                        <MudSelectItem Value="@(15)" />
                                    </MudSelect>

                                }
                                <MudSelect class="mr-5" Margin="Margin.Dense" Label="Project" Variant="Variant.Outlined" @bind-Value="@newTask.ProjectId">
                                    @foreach (var project in ProjectService.Projects)
                                    {
                                        <MudSelectItem T=int? Value="@project.Id">@(project.Number) @(project.Name)</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                            <div>
                                <MudSelect class="mr-5 mb-3" Margin="Margin.Dense" Label="Status" Variant="Variant.Outlined" @bind-Value="@newTask.TaskStatus">
                                    <MudSelectItem Value="@("not started")"><MudIcon Icon="@Icons.Filled.StopCircle" Color="Color.Default" /> Not started </MudSelectItem>
                                    <MudSelectItem Value="@("active")"><MudIcon Icon="@Icons.Filled.Work" Color="Color.Success" /> active </MudSelectItem>
                                    <MudSelectItem Value="@("done")"><MudIcon Icon="@Icons.Filled.Done" Color="Color.Info" /> done </MudSelectItem>
                                </MudSelect>
                                <MudSelect class="mr-5" Margin="Margin.Dense" Label="Importance level" Variant="Variant.Outlined" @bind-Value="@newTask.Importance">
                                    <MudSelectItem Value="@("low")" />
                                    <MudSelectItem Value="@("normal")" />
                                    <MudSelectItem Value="@("high")" />
                                </MudSelect>
                            </div>
                        </div>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation="false" OnClick="AddNewTask">Add task</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>form.Reset())" Class="mx-2">Reset</MudButton>
                    </MudForm>
                </MudPaper>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>


<MudDropContainer T="TaskItem" Items="TaskItemService.TaskItems" ItemsSelector="@((item,dropzone) => item.TaskStatus == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
    <ChildContent>
        <MudDropZone T="TaskItem" Identifier="not started" Class="rounded-lg mud-alert-text-warning pa-4 ma-4 flex-1">
            <MudText Typo="Typo.h6" Class="mb-4">not started (@TaskItemService.TaskItems.Where(x => x.TaskStatus == "not started").Count())</MudText>
        </MudDropZone>
        <MudDropZone T="TaskItem" Identifier="active" Class="rounded-lg mud-alert-text-success pa-4 ma-4 flex-1">
            <MudText Typo="Typo.h6" Class="mb-4">active (@TaskItemService.TaskItems.Where(x => x.TaskStatus == "active").Count())</MudText>
        </MudDropZone>
        <MudDropZone T="TaskItem" Identifier="done" Class="rounded-lg mud-alert-text-info pa-4 ma-4 flex-1">
            <MudText Typo="Typo.h6" Class="mb-4">done (@TaskItemService.TaskItems.Where(x => x.TaskStatus == "done").Count())</MudText>
        </MudDropZone>
    </ChildContent>
    <ItemRenderer>
        <MudCard Class="ma-2">
            <MudCardContent Class="pa-3">
                <div>
                    <div class="item-card">
                        <MudText Typo="Typo.subtitle1">@context.Project?.Number</MudText>
                        <MudText Typo="Typo.body2">@context.DueDate?.ToString("dd/MMM/yyyy")</MudText>
                    </div>
                    <div class="item-card">
                        <MudText Typo="Typo.subtitle2">@context.Title</MudText>
                        <MudText Typo="Typo.caption">Priority: @context.Importance</MudText>
                    </div>
                    <div class="item-card">
                        <MudText Typo="Typo.caption">@context.Description</MudText>
                        <MudIconButton Icon="@Icons.Filled.ModeEdit" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" />
                    </div>
                    <MudText Typo="Typo.caption"><i>@context.AssignedTo?.Email</i></MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </ItemRenderer>
</MudDropContainer>

@code {
    TaskItem taskItem = new TaskItem();
    TaskItem newTask = new TaskItem();
    int loggedUserId;
    string loggedUserRole;
    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetProjects();

        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        loggedUserId = Convert.ToInt32(authstate.User.FindFirst(ClaimTypes.NameIdentifier).Value);
        loggedUserRole = authstate.User.FindFirst(ClaimTypes.Role).Value;

        await PopulateTasks(loggedUserRole);
    }

    private async Task ItemUpdated(MudItemDropInfo<TaskItem> dropItem)
    {
        dropItem.Item.TaskStatus = dropItem.DropzoneIdentifier;

        taskItem.TaskItemId = dropItem.Item.TaskItemId;
        taskItem.TaskStatus = dropItem.DropzoneIdentifier;
        taskItem.EditorId = loggedUserId;
        taskItem = await TaskItemService.UpdateTaskItemStatus(taskItem);
    }

    async Task AddNewTask()
    {
        newTask.AuthorId = loggedUserId;
        if (loggedUserRole != "Admin")
        {
            newTask.AssignedToId = loggedUserId;
        }
        var result = await TaskItemService.CreateTaskItem(newTask);
        form.Reset();
        await PopulateTasks(loggedUserRole);
        _snackBar.Add("Task Created!", Severity.Success);
    }

    async Task PopulateTasks(string role)
    {
        if (role == "Admin")
        {
            await TaskItemService.GetAllTaskItems();
        }
        else
        {
            await TaskItemService.GetAllTaskItemsByUserId(loggedUserId);
        }
    }
}



































@code {

}
