@inject HttpClient http

<h2 class="mt-3">ProjectList</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Site</th>
      <th scope="col">Description</th>
      <th scope="col">Delivery Date</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var project in Projects)
     {
      <tr>
          <td>@project.Id</td>
          <td>@project.Number</td>
          <td>@project.Name</td>
          <td>@project.Site</td>
          <td>@project.Description</td>
          <td>@project.DeliveryDate.ToString("dd-MMMMMMM yyyy")</td>
        </tr>
     }
  </tbody>
</table>


@code {
    private static List<Project> Projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        Projects = await http.GetFromJsonAsync<List<Project>>("/api/project");
    }
}
