@page "/project/addoredit"
@page "/project/addoredit/{id:int}"
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using EmpAppBlazor.Client.Dialogs
@inject IProjectServiceClient ProjectService
@inject IWorkloadServiceClient WorkloadService
@inject NavigationManager NavigationManager
@inject IUserServiceClient UserService
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService

@if (loading)
{
    <span>@msg</span>
}
else
{
    @if (Id != 0)
    {
        <h3 style="text-align: center;">@projectGet.Number "@projectGet.Name"</h3>
    }
    else
    {
        <h3 style="text-align: center;">Create new project</h3>
    }

    <MudGrid Justify="Justify.Center">

        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="9">
                <MudText Typo="Typo.subtitle2">Project Details</MudText>
                <MudForm @ref="form" @bind-IsValid="@success">
                    <MudTextField T="int" Label="Project number" Required="true" RequiredError="Project number is required!" @bind-Value="projectGet.Number" />
                    <MudTextField T="string" Label="Project name" Required="true" RequiredError="Project name is required!" @bind-Value="projectGet.Name" />
                    <MudTextField T="string" Label="Site" Required="true" RequiredError="Site is required!" @bind-Value="projectGet.Site" />
                    <MudSelect @bind-Value="@projectGet.Status" Label="Status">
                        <MudSelectItem Value="@("Not Started")"><MudIcon Icon="@Icons.Filled.StopCircle" Color="Color.Default" /> Not Started </MudSelectItem>
                        <MudSelectItem Value="@("Active")"><MudIcon Icon="@Icons.Filled.Work" Color="Color.Success" /> Active </MudSelectItem>
                        <MudSelectItem Value="@("Done")"><MudIcon Icon="@Icons.Filled.Done" Color="Color.Info" /> Done </MudSelectItem>
                        <MudSelectItem Value="@("Cancelled")"><MudIcon Icon="@Icons.Filled.Cancel" Color="Color.Error" /> Cancelled </MudSelectItem>
                    </MudSelect>
                </MudForm>
            </MudPaper>
            <MudPaper Class="pa-4 mt-4" Elevation="9">
                <div class="action-buttons-centered">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false" OnClick="AddOrUpdateProject" Disabled="@(!success)">@btnText</MudButton>
                    @if (Id != 0)
                    {
                        @if (projectGet.Workload == null)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Info" DisableElevation="false" OnClick="() => NewWorkloadPage(Id)">Create Workload</MudButton>
                        }
                    }
                    @if (btnText != "Create Project")
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick=DeleteProject></MudIconButton>
                    }
                </div>
            </MudPaper>
        </MudItem>
        @if (projectGet.Workload != null)
        {
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4" Elevation="9">
                    <MudText Typo="Typo.subtitle2">Workload Information</MudText>
                    <MudForm>
                        <MudSelect @bind-Value="@workload.ProductionStage" Label="Production Stage">
                            <MudSelectItem Value="@("Not Started")"><MudIcon Icon="@Icons.Filled.StopCircle" Color="Color.Default" /> Not Started </MudSelectItem>
                            <MudSelectItem Value="@("In Progress")"><MudIcon Icon="@Icons.Filled.Work" Color="Color.Success" /> In Progress </MudSelectItem>
                            <MudSelectItem Value="@("Done")"><MudIcon Icon="@Icons.Filled.Done" Color="Color.Info" /> Done </MudSelectItem>
                        </MudSelect>
                        <div class="d-flex align-center justify-space-between mt-6 mb-6">
                            <MudDatePicker class="mr-5" Label="Delivery Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" @bind-Date="workload.DeliveryDate" />
                            <MudDatePicker class="mr-5" Label="Required Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" Required="true" @bind-Date="workload.DeliveryDate" />
                            <MudDatePicker Label="Order Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" @bind-Date="workload.OrderPlaced" />
                        </div>
                        <MudTextField T="string" Label="Comments/description/notes" Variant="Variant.Outlined" Lines="5" @bind-Value="workload.Comments" />
                        <MudSelect class="mt-3" Margin="Margin.Dense" Label="Design Leader" Variant="Variant.Outlined" @bind-Value="@workload.DesignLeaderId">
                            @foreach (var user in UserService.Users)
                            {
                        <MudSelectItem T=int? Value="@user.Id">@(user.Name) @(user.Surname)</MudSelectItem>
                            }
                </MudSelect>
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4" Elevation="9">
            <div class="action-buttons-centered">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false" OnClick="UpdateWorkload">Update Workload</MudButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick=DeleteWorkload></MudIconButton>
            </div>
        </MudPaper>
    </MudItem>
        }
        @if (btnText != "Create Project")
        {
            <MudItem xs="12" sm="3">
                <MudPaper Class="pa-4" Elevation="9">
                    <MudText Typo="Typo.subtitle2">Design Team (@projectGet.Designers.Count)</MudText>
                    @if (projectGet.Designers.Count > 0)
                    {
                        <MudList>
                            @foreach (var user in projectGet.Designers)
                            {
                                <MudStack Row="true">
                                    <p>@user.Name @user.Surname / @user.Email</p>
                                </MudStack>
                            }
                        </MudList>
                    }
                    else
                    {
                        <MudText Typo="Typo.caption">none assigned</MudText>
                    }
                </MudPaper>
                <MudPaper Class="pa-4 mt-4" Elevation="9">
                    <div class="action-buttons-centered">
                        <MudButton OnClick="@((e) => OpenAssignUserToProjectDialog(projectGet))" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false">Manage</MudButton>
                    </div>
                </MudPaper>
            </MudItem>
        }

    </MudGrid>
}

@code {
    [Parameter]
    public int Id { get; set; }

    MudForm? form;
    bool success;
    ProjectGetDTO projectGet = new ProjectGetDTO();
    ProjectGetDTO dbProject = new ProjectGetDTO();
    WorkloadGetDTO workload = new WorkloadGetDTO();
    bool loading = true;
    string btnText = "";
    string msg = "Loading...";

    protected override async Task OnParametersSetAsync()
    {
        
        if (Id == 0)
        {
            workload = new WorkloadGetDTO();
            btnText = "Create Project";
        }
        else
        {
            dbProject = (await ProjectService.GetSingleProject(Id)).Data;
            if (dbProject == null)
            {
                msg = $"Project id: {Id} does not exist!";
                return;
            }
            projectGet = dbProject;
            btnText = "Update Project";

            if (workload != null)
            {
                await UserService.GetAllUsers();
                WorkloadGetDTO dbWorkload = (await WorkloadService.GetSingleWorkloadByProjectId(Id)).Data;
                workload.Project = projectGet;
                workload = dbWorkload;
            }

        }
        loading = false;
    }

    async Task AddOrUpdateProject()
    {
        if (Id == 0)
        {
            await ProjectService.CreateProject(projectGet);
            NavigationManager.NavigateTo("/project/list");
        }
        else
        {
            await ProjectService.UpdateProject(projectGet);
            NavigationManager.NavigateTo("/project/list");

        }
    }

    async Task DeleteProject()
    {
        bool confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm",
            $"Do you really want to delete '{projectGet.Number} {projectGet.Name}'?");
        if (confirmDelete)
        {
            await ProjectService.DeleteProject(projectGet.Id);
            NavigationManager.NavigateTo("/project/list");
        }
    }

    async Task DeleteWorkload()
    {
        bool confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm",
            $"Do you really want to delete WORKLOAD for'{projectGet.Number} {projectGet.Name}'?");
        if (confirmDelete)
        {
            await WorkloadService.DeleteWorkload(workload.Id);
            NavigationManager.NavigateTo("/project/list");
        }
    }

    async Task UpdateWorkload()
    {
        if (projectGet.Workload == null)
        {
            await WorkloadService.CreateWorkload(workload);
            NavigationManager.NavigateTo("/project/list");
        }
        else
        {
            await WorkloadService.UpdateWorkload(workload);
            NavigationManager.NavigateTo("/project/list");

        }
    }

    void NewWorkloadPage(int id)
    {
        NavigationManager.NavigateTo($"/workload/add/{id}");
    }

    async Task OpenAssignUserToProjectDialog(ProjectGetDTO project)
    {
        var parameters = new DialogParameters { ["project"] = project };
        var options = new MudBlazor.DialogOptions { FullScreen = true, CloseButton = true };

        var dialog = DialogService.Show<AssignUserToProjectDialog>("Assign User to Project", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            projectGet = (await ProjectService.GetSingleProject(Id)).Data;
        }

    }

}
