@page "/projects-database"
@inject IProjectService ProjectService
@inject NavigationManager UriHelper

@if (ProjectService.Projects == null || ProjectService.Projects.Count == 0)
{
    <span>Loading...</span>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Site</th>
            <th scope="col">Description</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in ProjectService.Projects)
        {
            <tr>
                <td>@project.Id</td>
                <td>@project.Number</td>
                <td>@project.Name</td>
                <td>@project.Site</td>
                <td>@project.Description</td>
                <td>@project.DeliveryDate.ToString("dd-MMMMMMM yyyy")</td>
                <td><a href="/project/@project.Id">Show</a></td>
            </tr>
        }
    </tbody>
</table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetProjects();
    }

    void NavigateToDetailPage(int projectId)
    {
        UriHelper.NavigateTo($"/project/{projectId}");
    }
}
