@page "/project/list"
@inject IProjectService ProjectService
@inject NavigationManager UriHelper

@if (ProjectService.Projects == null || ProjectService.Projects.Count == 0)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudTable Items="@ProjectService.Projects" Dense="true" Filter="new Func<Project,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" Elevation="9">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Filled.CreateNewFolder" Size="Size.Small" OnClick="NavigateToNewProjectPage">New Project</MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search by number, name, site" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Project, object>(x=>x.Number)">Number</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Project, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh>Site</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Delivery Date [workload]</MudTh>
            <MudTh>Prod. Stage [workload]</MudTh>
            <MudTh>Design Leader [workload]</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Number">@context.Number</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Site">@context.Site</MudTd>
            <MudTd DataLabel="Description">@context.Status</MudTd>
            <MudTd DataLabel="Delivery Date">@(context.Workload != null ? @context.Workload.DeliveryDate?.ToString("dd/MMM/yyyy") : "---")</MudTd>
            <MudTd DataLabel="Production Stage">@(context.Workload != null ? @context.Workload.ProductionStage : "---")</MudTd>
            <MudTd DataLabel="Design Leader">@(context.Workload?.DesignLeader != null ? $"{@context.Workload.DesignLeader.Name} {@context.Workload.DesignLeader.Surname}" : "---")</MudTd>
            <MudTd DataLabel="Actions"><a href="/project/addoredit/@context.Id">Show</a></MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

@code {

    private Project selectedItem1 = null;
    private string searchString1 = "";

    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetProjects();
    }

    void NavigateToDetailPage(int projectId)
    {
        UriHelper.NavigateTo($"/project/{projectId}");
    }

    void NavigateToNewProjectPage()
    {
        UriHelper.NavigateTo("/project/addoredit");
    }

    private bool FilterFunc1(Project element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Project element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Number.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Number} {element.Name} {element.Site}".Contains(searchString))
            return true;
        return false;
    }
}
