@page "/project/addoredit"
@page "/project/addoredit/{id:int}"
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@inject IProjectService ProjectService
@inject IWorkloadService WorkloadService
@inject NavigationManager NavigationManager
@inject IUserServiceClient UserService
@inject IJSRuntime JSRuntime

@if (loading)
{
    <span>@msg</span>
}
else
{
    @if (Id != 0)
    {
        <h3 style="text-align: center;">@project.Number "@project.Name"</h3>
    }
    else
    {
        <h3 style="text-align: center;">Create new project</h3>
    }

    <MudGrid Justify="Justify.Center">

        <MudItem xs="12" sm="4">
            <MudPaper Class="pa-4" Elevation="9">
                <MudText Typo="Typo.subtitle2">Project Details</MudText>
                <MudForm @ref="form" @bind-IsValid="@success">
                    <MudTextField T="int" Label="Project number" Required="true" RequiredError="Project number is required!" @bind-Value="project.Number" />
                    <MudTextField T="string" Label="Project name" Required="true" RequiredError="Project name is required!" @bind-Value="project.Name" />
                    <MudTextField T="string" Label="Site" Required="true" RequiredError="Site is required!" @bind-Value="project.Site" />
                    <MudSelect @bind-Value="@project.Status" Label="Status">
                        <MudSelectItem Value="@("Not Started")"><MudIcon Icon="@Icons.Filled.StopCircle" Color="Color.Default" /> Not Started </MudSelectItem>
                        <MudSelectItem Value="@("Active")"><MudIcon Icon="@Icons.Filled.Work" Color="Color.Success" /> Active </MudSelectItem>
                        <MudSelectItem Value="@("Done")"><MudIcon Icon="@Icons.Filled.Done" Color="Color.Info" /> Done </MudSelectItem>
                        <MudSelectItem Value="@("Cancelled")"><MudIcon Icon="@Icons.Filled.Cancel" Color="Color.Error" /> Cancelled </MudSelectItem>
                    </MudSelect>
                </MudForm>
            </MudPaper>
            <MudPaper Class="pa-4 mt-4" Elevation="9">
                <div class="action-buttons-centered">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false" OnClick="AddOrUpdateProject" Disabled="@(!success)">@btnText</MudButton>
                    @if (Id != 0)
                    {
                        @if (project.Workload == null)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Info" DisableElevation="false" OnClick="() => NewWorkloadPage(Id)">Create Workload</MudButton>
                        }
                    }
                    @if (btnText != "Create Project")
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick=DeleteProject></MudIconButton>
                    }
                </div>
            </MudPaper>
        </MudItem>
        @if (project.Workload != null)
        {
            <MudItem xs="12" sm="5">
                <MudPaper Class="pa-4" Elevation="9">
                    <MudText Typo="Typo.subtitle2">Workload Information</MudText>
                    <MudForm>
                        <MudSelect @bind-Value="@workload.ProductionStage" Label="Production Stage">
                            <MudSelectItem Value="@("Not Started")"><MudIcon Icon="@Icons.Filled.StopCircle" Color="Color.Default" /> Not Started </MudSelectItem>
                            <MudSelectItem Value="@("In Progress")"><MudIcon Icon="@Icons.Filled.Work" Color="Color.Success" /> In Progress </MudSelectItem>
                            <MudSelectItem Value="@("Done")"><MudIcon Icon="@Icons.Filled.Done" Color="Color.Info" /> Done </MudSelectItem>
                        </MudSelect>
                        <div class="d-flex align-center justify-space-between mt-6 mb-6">
                            <MudDatePicker class="mr-5" Label="Delivery Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" @bind-Date="workload.DeliveryDate" />
                            <MudDatePicker class="mr-5" Label="Required Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" Required="true" @bind-Date="workload.RequiredDate" />
                            <MudDatePicker Label="Order Date" DateFormat="dd/MMMM/yyyy" Culture="@CultureInfo.GetCultureInfo("pl-pl")" @bind-Date="workload.OrderPlaced" />
                        </div>
                        <MudTextField T="string" Label="Comments/description/notes" Variant="Variant.Outlined" Lines="5" @bind-Value="workload.Comments" />
                        <MudSelect class="mt-3" Margin="Margin.Dense" Label="Design Leader" Variant="Variant.Outlined" @bind-Value="@workload.DesignLeaderId">
                            @foreach (var user in UserService.Users)
                            {
                                <MudSelectItem T=int? Value="@user.Id">@(user.Name) @(user.Surname)</MudSelectItem>
                            }
                        </MudSelect>
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4" Elevation="9">
            <div class="action-buttons-centered">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false" OnClick="UpdateWorkload">Update Workload</MudButton>
            </div>
        </MudPaper>
    </MudItem>
        }
        @if (btnText != "Create Project")
        {
            <MudItem xs="12" sm="3">
                <MudPaper Class="pa-4" Elevation="9">
                    <MudText Typo="Typo.subtitle2">Design Team</MudText>
                    @if (project.Designers.Count > 0)
                    {
                        <MudList>
                            @foreach (var user in project.Designers)
                            {
                                <MudStack Row="true">
                                    <MudListItem Text="@user.Email" Icon="@Icons.Filled.PersonPin" />
                                    <MudIconButton Icon="@Icons.Filled.PersonRemoveAlt1" Color="Color.Error" Size="Size.Small"></MudIconButton>
                                </MudStack>


                            }
                        </MudList>
                    }
                    else
                    {
                        <MudText Typo="Typo.caption">none assigned</MudText>
                    }
                </MudPaper>
                <MudPaper Class="pa-4 mt-4" Elevation="9">
                    <div class="action-buttons-centered">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="false">Assign</MudButton>
                    </div>
                </MudPaper>
            </MudItem>
        }

    </MudGrid>


}

@code {
    [Parameter]
    public int Id { get; set; }

    MudForm form;
    bool success;
    Project project = new Project();
    Workload workload = new Workload();
    bool loading = true;
    string btnText = "";
    string msg = "Loading...";

    protected override async Task OnParametersSetAsync()
    {
        await UserService.GetAllUsers();

        if (Id == 0)
        {
            project = new Project();
            workload = new Workload();
            btnText = "Create Project";
        }
        else
        {
            Project dbProject = (await ProjectService.GetProject(Id)).Data;
            if (dbProject == null)
            {
                msg = $"Project id: {Id} does not exist!";
                return;
            }
            project = dbProject;
            btnText = "Update Project";

            if (workload != null)
            {
                Workload dbWorkload = (await WorkloadService.GetWorkloadByProjectId(Id)).Data;
                workload.ProjectId = Id;
                workload = dbWorkload;
            }

        }
        loading = false;
    }

    async Task AddOrUpdateProject()
    {
        if (Id == 0)
        {
            var result = await ProjectService.CreateProject(project);
            NavigationManager.NavigateTo("/project/list");
        }
        else
        {
            project = await ProjectService.UpdateProject(project);
            NavigationManager.NavigateTo("/project/list");

        }
    }

    async Task DeleteProject()
    {
        bool confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm",
            $"Do you really want to delete '{project.Number} {project.Name}'?");
        if (confirmDelete)
        {
            await ProjectService.DeleteProject(project.Id);
            NavigationManager.NavigateTo("/project/list");
        }
    }

    async Task UpdateWorkload()
    {
        if (project.Workload == null)
        {
            var result = await WorkloadService.CreateWorkload(workload);
        }
        else
        {
            workload = await WorkloadService.UpdateWorkload(workload);
            NavigationManager.NavigateTo("/project/list");

        }
    }

    void NewWorkloadPage(int id)
    {
        NavigationManager.NavigateTo($"/workload/add/{id}");
    }


}
